button {
    padding: 15px;
    border-radius: 14px;
    font-size: 24px;
    color: ivory;
    text-align: center;
    background-image: linear-gradient(to right, rgb(255, 146, 197), rgb(214, 72, 108));
    border: none;
    box-shadow: 7px 7px 7px rgb(245, 192, 216);
}

