html {
    background-color: rgb(255, 243, 247)
}

header {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:15px;
    padding-top: 10px;
    font-family: Helvetica;
    font-size: 60px;
    background-color: rgb(216, 125, 148);
    background-image: linear-gradient(to top, rgb(216, 125, 148), rgb(255, 222, 230))
    
}

article {
    width:80%;
    padding-left: 20px;
    padding-right: 20px;
}

.journal-day {
    background-image: radial-gradient(rgb(254, 252, 255), rgb(221, 219, 238));
    border-radius: 15px;

    padding: 15px;

    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    
    display: inline-block;
    text-align: center;

    border-radius: 30px;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-color: rgb(209, 71, 106);
    border-width: 5px;
    border-style:outset;
    
}

body {
    font-size: large;
    margin: 0px;
    color:rgb(85, 55, 63);
    font-family: Helvetica;

}